/******************************
Flexbox Layout
*******************************/

.header, .nav {
    display: flex;
    flex-direction: column;
}

.header {
    justify-content: space-between;
}

.nav {
    flex: 1;
    justify-content: space-around;
}

@media all and (min-width: 640px) {
    .header, .nav {
        flex-direction: row;
    }
}

@media all and (min-width: 1030px) {
    .nav {
        flex: none;
    }
}

main {
    font: 300;
}

body {
    background-color: slategrey;
}

/*.container {
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 150px 150px;
    grid-gap: 1rem;
  } */