/******************************
Main Styles
*******************************/
* {
   box-sizing: border-box; 
}

body {
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgrey;
}

header {
    margin-bottom: 10px;
    background-color: #087F8C;
    display: flex;
    flex-direction: column;
}

/* navigation menu */
#nav-menu {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#nav-menu li {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

#nav-menu li a {
    padding: 6px 12px;
    width: 100%;
    display: block;
    color: white;
    text-decoration: none;
    text-align: center;
    background-color: #999;
}   

#nav-menu li a:hover {
    background-color: #999;
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 75%;
} */

.profile_photo {
    max-width: 200px;
}

h1 {
    text-align: center;
    margin: 10px;
}

.about {
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.container {
    display: grid;
    grid-template-columns: 50px 50px 50px;
    grid-template-rows: 50px 50px;
    grid-gap: 1rem;
  }


/******************************
Contact Me Form Layout
*******************************/

form {
    max-width: 75%;
    margin: 10px auto;
    padding: 10px 20px;
    background: #f4f7f8;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
  }

/******************************
Media Queries
*******************************/

@media all and (min-width: 800px) {
    main {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }
    nav {
        flex-direction: row;
        justify-content: flex-end;
    }
    
    /* Navigation Menu */

    #nav-menu ul{
        list-style: none;
        margin-left: 0;
        padding-left: 0;
        display: flex;
        flex-direction: row;
    }
    
    #nav-menu li {
        display: block;
    }
    
    #nav-menu a {
        padding: 6px 12px;
        width: 100%;
        display: block;
        color: white;
        text-decoration: none;
        text-align: center;
    }
    
    #nav-menu a:hover {
        background-color: #999;
    }

    #menu-icon {
        display: none;
    }

    article {
        max-width: 30%;
    }
    .navitem{
        margin-right: 2rem;
        align-items: center;
    }
    .column {
        width: 75%;
        height: 100%;
        margin-right: 3rem;
        margin-left: 3rem;
        align-items: center;
        justify-content: center;
    }
  
}



